@model Escalonamento.Models.Veiculos

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Veiculos</h2>

<h4>Veiculos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VeiculosId" />
            <div class="form-group">
                <label asp-for="NumMatricula" class="control-label"></label>
                <input asp-for="NumMatricula" class="form-control" />
                <span asp-validation-for="NumMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponibilidade" class="control-label"></label>
                <input asp-for="Disponibilidade" class="form-control" />
                <span asp-validation-for="Disponibilidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
