@{
    ViewData["Title"] = "Home Page";
}


<h2>Bem Vindo</h2>
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: 19px;
}
</style>
<img src="~/images/urgencia_emergencia.png" usemap="#workmap" width="400" height="379">

<ul style="list-style-type:none">
    <li><p><a asp-action="" class="btn btn-primary">Visualizar escala</a></p></li>

    <li><p><a asp-action="MedEnf" class="btn btn-primary">Inserir Medico/Enfermeiro</a></p></li>

    <li><p><a asp-action="" class=" btn btn-primary">Gestor de Veiculo</a></p></li>

    <li><p><a asp-action="" class="btn btn-primary">Pedido Medico/Enfermeiro</a></p></li>

    <li><p><a asp-action="" class="btn btn-primary">Pedido Veiculo</a></p></li>

</ul>


