@{
    ViewData["Title"] = "Home Page";
}


<h2>Bem Vindo</h2>
<a asp-action="" class="btn btn-primary">Visualizar escala</a>
<a asp-action="" class="btn btn-info">Inserir Medico/Enfermeiro</a>
<a asp-action="" class="btn btn-primary">Gestor de Veiculo</a>
<a asp-action="" class="btn btn-info">Pedido Medico/Enfermeiro</a>

<a asp-action="" class="btn btn-primary">Pedido Veiculo</a>

